
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    .brand-image {
      margin-bottom: 10px;
      width: 470.25px;
      height: 469.25px;
      object-fit: cover; /* This will ensure that your image covers the entire space without distortion */
    }
  
    p {
      margin: 0;
    }
  }